{% include base_path %}

<!-- start custom head snippets -->

<link rel="manifest" href="{{ base_path }}/images/manifest.json?v=20260622">
<link rel="icon" type="image/png" sizes="48x48" href="{{ base_path }}/images/favicon-48.png?v=20260622">
<link rel="icon" type="image/png" sizes="192x192" href="{{ base_path }}/images/favicon-192.png?v=20260622">
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon.png?v=20260622">
<link rel="mask-icon" href="{{ base_path }}/images/safari-pinned-tab.svg?v=20260622" color="#8b5cf6">
<link rel="shortcut icon" href="{{ base_path }}/images/favicon.ico?v=20260622">
<meta name="msapplication-TileColor" content="#8b5cf6">
<meta name="msapplication-TileImage" content="{{ base_path }}/images/mstile-144x144.png?v=20260622">
<meta name="msapplication-config" content="{{ base_path }}/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#8b5cf6">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>


<!-- Support for MatJax -->
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- end custom head snippets -->
